:root {
  --red-color: #cc9a9a;
  --black-color: #333;
  --gray-color: #777;
  --item-height: 50px;
  --color-green: green;
}

body {
  font-size: 20px;
}

button {
  border: none;
  background-color: inherit;
}

#root {
  display: flex;
}

.App {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.App h1{
  color: var(--red-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}
.App .body {
  box-shadow: 0px 5px 10px 1px black;
}

.TodoHeader {
  border-bottom: 1px solid #cacaca;
}
.TodoHeader .add-new-task {
  width: 90%;
  height: var(--item-height);
  border: none;
  font-size: inherit;
  padding-left: 5px;
  color: var(--gray-color);
  outline: none; /* remove autofocus border*/
}
.TodoHeader .add-new-task::placeholder {
  font-style: italic;
}
.TodoHeader .toggle-all {
  display: none;
}
.TodoHeader .toggle-all + label::after {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  color: var(--gray-color);
}
.TodoHeader .toggle-all + label::after {
  content: '☐';
}
.TodoHeader .toggle-all:checked + label::after {
  content: '☑';
  color: var(--color-green);
}

.TaskItem {
  border-bottom: 1px solid #cacaca;
  height: var(--item-height);
  width: 100%;
}
.TaskItem > * {
  line-height: var(--item-height);
  vertical-align: baseline;
}
.TaskItem > span  {
  width: 90%;
  display: inline-block;
}
.TaskItem .toggle {
  display: none;
}
.TaskItem .toggle + label::after {
  margin-left: 5px;
  cursor: pointer;
  color: var(--gray-color);
}
.TaskItem .toggle + label::after {
  content: '☐';
}
.TaskItem .toggle:checked + label::after {
  content: '☑';
  color: var(--color-green);
}
.TaskItem .text {
  width: 90%;
  display: inline-block;
  margin-left: 10px;
  color: var(--black-color);
}
.TaskItem[data-status="completed"] .text {
  text-decoration: line-through;
  opacity: 0.4;
}

.TaskItem .edit {
  width: 94%;
  height: 90%;
  border: none;
  font-size: inherit;
  font-family: inherit;
  margin-left: 5px;
  padding-left: 5px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 2px 2px #eee;
  color: var(--black-color);
  outline: none; /* remove autofocus border*/
}
.TaskItem .remove {
  vertical-align: -40%;
  position: relative;
  right: 0px;
  font-size: inherit;
  color: var(--red-color);
  cursor: pointer;
  display: none;
  vertical-align: baseline;
}
.TaskItem:hover .remove {
  display: inline;
}
.TaskItem .remove::after {
  content: '×';
}

.TodoFooter {
  height: var(--item-height);
  font-size: 15px;
  width: 100%;
}
.TodoFooter > * {
  line-height: var(--item-height);
  vertical-align: middle;
}
.TodoFooter .count {
  font-size: inherit;
  float: left;
  margin-left: 10px;
  margin-right: 70px;
  color: var(--gray-color);
}
.TodoFooter [class="show-type"] {
  float: left;
}
.TodoFooter [class="show-type"] button {
  font-size: inherit;
  cursor: pointer;
  margin-left: 2px;
  border: 1px solid transparent; /* prevent move when add border */
  color: var(--black-color);
}
.TodoFooter [class="show-type"] button[class*=" active"] {
  border: 1px solid #555;
  border-radius: 3px;
}
.TodoFooter [class="show-type"] button:hover {
  border: 1px solid #aaa;
  border-radius: 3px;
}
.TodoFooter .remove-completed {
  vertical-align: -50%;
  font-size: inherit;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  color: var(--gray-color);
}
.TodoFooter .remove-completed::first-letter {
  text-transform: capitalize;
}
.TodoFooter .remove-completed:hover {
  text-decoration: underline;
}
